app/config/__pycache__/
tests/__pycache__/
app/lang/__pycache__/
app/tokenizer/__pycache__/
app/data_prepare/__pycache__/
app/training/__pycache__/
app/training/data/__pycache__/
app/training/model/__pycache__/
data/dataset/
data/filter/
data/raw/
app/training/reward/__pycache__/
app/inference/__pycache__/
data/slide_window/
scripts/__pycache__/
out/
app/training/reward1/__pycache__/
app/training/reward_match/__pycache__/
